<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orinoco | Facture</title>
    <link rel="stylesheet" href="/css/facture.css" />

<%- include('header'); -%>
<main>
    <h2 class="titre">Résumé de votre commande</h2>
    <p id="alerte"> 
        Attention si vous été ici, c'est que vous n'avez aucun article <br>
        Merci de revenir à <a href="/" style="color: blue;text-decoration: underline;">l'accueil</a> s'il vous plaît
    </p>
    <article class="facture">
        <h2 class="Orinoco">Orinoco</h2>
        
        <div class="commande">
            <p id="date"></p>
        </div>
        <div class="infoCl">
            <h3>Vos informations personnelles</h3>
            <p id="date"></p>
            <p id="name"></p>
            <p id="Prenom"></p>
            <p id="email"></p>
            
        </div>
        <div class="listeProd">
            <h4>Vos produits :</h4>
        </div>
        <div class="TVA">
            <p class="totalHT"></p>
            <p class="TVAFact"></p>
            <p class="totalTTC"></p>
        </div>
    </article>
    <p class="ret">Retour à <a href="/" class="retour" style="color: blue;text-decoration: underline;">l'accueil</a></p>
</main>
<script src="/facture.js"></script>
<%- include('footer'); -%>

