        <footer>
            <div>
                <ul>
                    <li><a href="/">acceuil</a></li>
                    <li><a href="/panier">Votre panier</a></li>
                    <li> produits:
                        <ul>
                            <li>Caméras vintage:
                                <ul>
                                    <li><a href="/5be1ed3f1c9d44000030b061">Zurss 50S</a></li>
                                    <li><a href="/5be1ef211c9d44000030b062">Hirsch 400DTS</a></li>
                                    <li><a href="/5be9bc241c9d440000a730e7">Franck JS 105</a></li>
                                    <li><a href="/5be9c4471c9d440000a730e8"> Kuros TTS</a></li>
                                    <li><a href="/5be9c4c71c9d440000a730e9">Katatone </a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </footer>
    </body>
</html>