
<header>
    <section class="top">
        <a href="/">
            <img src="/images/logo.png" alt="logo Orinoco " />
        </a>
    
        <nav class="nav">
            <ul id="menu-deroulant">
                <li>
                    <p class="hover">Panier</p>
                    <ul>
                        <li class="panier">
                            <p class="titrePanier">contenue de votre panier :</p>
                            <p id="totalPanier">total: 0 €</p>
                            <a href="/panier">voir panier</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </section>
</header>