<header>
    <section class="top">
        <a href="/">
            <img src="/images/logo.png" alt="logo Orinoco " />
        </a>
        <h1 id=""> </h1>
        <nav class="nav">
            <ul id="menu-deroulant">
                <li>
                    <p class="hover">Panier</p>
                    <ul>
                        <div class="panier">
                            <p class="titrePanier">contenue de votre panier :</p>
                            <p id="totalPanier">total: 0 €</p>

                        </div>
                    </ul>
                </li>
            </ul>
        </nav>
    </section>
</header> 