<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/panier.css" />

<%- include('header'); -%>
<main>
    <table id="cadie">
        <thead>
            <tr>
                <th colspan="4">Votre panier :</th>
            </tr>
        </thead>
        <tbody id="tbody">
            <tr>
                <td>Nom</td>
                <td>Image</td>
                <td>Prix</td>
                <td>Quantité</td>
            </tr>
        </tbody>
    </table>
    <p class="err" style="color: red;"></p>
    
    <!-- ***************************************************************** -->
    
    <form class="formCl">
        <label for="firstName">Prèsnom :</label>
        <input  id="firstName" type="text" name="firstName" placeholder="(Julie, Martin, ...)" required pattern="[a-z A-ZÈÉÎÏÖéèîïÜüûÛ\-]+"> 
        <label for="lastName">nom :</label>
        <input id="lastName" type="text" name="lastName" placeholder="(Dupont, ...)"  required pattern="[a-z A-ZÈÉÎÏÖéèîïÜüûÛ\-]+"> 
        <label for="address">address :</label>
        <input  id="address" type="text" name="address" placeholder="(24 Rue de-chez-moi, ...)"  required pattern="[a-zA-Z-éÉèÈàÀùÙâÂêÊîÎôÔûÛïÏëËüÜçÇæœ'. 0-9\-]+">
        <label for="city">ville :</label>
        <input id="city" type="text" name="city" placeholder="(Paris, lyon, ...)"  required pattern="[a-z A-ZÈÉÎÏÖéèîïÜüûÛ\-]+"> 
        <label for="email">email :</label>
        <input id="email" type="email" name="email" placeholder="(J.dupont@email.com, ...)"  required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z-_]+\.[a-z]{2,4}$"> <br>
        <button  type="submit" id="POSTFORM" >valider</button>
    </form>
    
    <p style="color: red;" id="erreur"></p>
    
    </main>
<script src="/panier.js"></script>
<%- include('footer'); -%>