<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/panier.css" />

<%- include('header'); -%>
<main>
    <table id="cadie">
        <thead>
            <tr>
                <th colspan="4">Votre panier :</th>
            </tr>
        </thead>
        <tbody id="tbody">
            <tr>
                <td>Nom</td>
                <td>Image</td>
                <td>Prix</td>
                <td>Quantité</td>
            </tr>
        </tbody>
        
    </table>
    <p class="err"></p>
    
    <!-- ***************************************************************** -->
    
    <form class="formCl">
        <div class="formBlock">
            <label for="firstName">Prénom :</label><br>
            <input  id="firstName" type="text" name="firstName" placeholder="(Julie, Martin, ...)" required pattern="[a-z A-ZÈÉÎÏÖéèîïÜüûÛ\-]+"> 
        </div>
        <div class="formBlock">
            <label for="lastName">Nom :</label><br>
            <input id="lastName" type="text" name="lastName" placeholder="(Dupont, ...)"  required pattern="[a-z A-ZÈÉÎÏÖéèîïÜüûÛ\-]+"> 
        </div>
        <div class="formBlock">
            <label for="address">Adresse :</label><br>
            <input  id="address" type="text" name="address" placeholder="(24 Rue de-chez-moi, ...)"  required pattern="[a-zA-Z-éÉèÈàÀùÙâÂêÊîÎôÔûÛïÏëËüÜçÇæœ'. 0-9\-]+">
        </div>
        <div class="formBlock">
            <label for="city">Ville :</label><br>
            <input id="city" type="text" name="city" placeholder="(Paris, lyon, ...)"  required pattern="[a-z A-ZÈÉÎÏÖéèîïÜüûÛ\-]+">
        </div> 
        <div class="formBlock">
            <label for="email">Email :</label><br>
            <input id="email" type="email" name="email" placeholder="(J.dupont@email.com, ...)"  required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z-_]+\.[a-z]{2,4}$">
        </div>
        <button class="formBlock" type="submit" id="POSTFORM" >valider</button>
    </form>
    
   <div id="erreur"><span>Votre panier est vide.</span> <a href="/">Continuer vos achats ?</a></div>
    
</main>
<script src="/panier.js"></script>
<%- include('footer'); -%>