body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #bebebe;
    height: 100%;
}
.titre,
.ret,
#alerte{
    text-align: center;
}
.facture{
    margin: auto;
    background: #FFF;
    padding:2% ;
    margin-bottom: 20px;
    width: 50%;
}
            /* info client */
.infoCl{
    background:#d1d1d1;
    width: max-content;
    padding: 5px;
    margin-bottom: 10px;
}
.TVA,
.factProd{
    display: flex;

    border: solid 1px;
    margin: 5px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.imageUrl{
    width: 50%;
    max-width: 220px;
    height: 133px;
    object-fit: cover;
}
.prodName{
    width: 109px;
}
.price{
    width: 67px;
}
.factProd .imageUrl{
    height: auto;
}
@media screen and (max-width:981px) {
    .facture{
        width: 70%;
    }
    /* .TVA{
        flex-direction: column;
    align-items: flex-end;
    border: none;
    } */
}
@media screen and (max-width:647px){
    .TVA{
        flex-direction: column;
    align-items: flex-end;
    border: none;
    }
}
@media screen and (max-width:567px){
    .facture{
        width: 90%;
    }
    .TVA{
        flex-direction: row;
    align-items: flex-end;
    border: solid 1px;
    }
}
@media screen and (max-width:503px){
    .TVA{
        flex-direction: column;
    align-items: flex-end;
    border: none;
    }
    .span{
        display: block;
        margin: 5px;
    }
}
@media screen and (max-width:339px){
    .facture{
        width: 95%;
        
    }
    .titre{
        font-size: 20px;
    }
    .infoCl{
        width: auto;
    }
    .infoCl span{
        display: block;
        margin: 8px auto;
    }
}