footer{
    
        width: 100%;
        display: flex;
        
        background: #03738C;
        position: relative;
        border-bottom: solid 1px;
        
    
}

a{
    text-decoration: none;
    color: #000;

}
