body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #bebebe;
    height: 100%;
}
.chemain{
    list-style: none;
    margin: 1px;
    padding: 2px;
    font-size: 13px;
}
.chemain li{
    display: inline-block;
}
.chemain a{
    text-decoration: none;
    color: black;
}
                    /* fin chemain */

                    /* produit */
.name{
    text-align: center;
}
.produit{
    margin: 7px auto 100px;
    padding: 5px;
    background: #FFF;
    display: flex;
    flex-flow: row;
    width: 50%;
    justify-content: space-evenly;
}                    
.articleImg{
    margin: 5px;
    width: 75%;
}
.articleImg img{
width: 100%;
object-fit: cover;
}
.ficheProduit{
    width: 25%;
display: flex;
flex-flow: column;
}
.ficheProduit b{
    padding-left: 10px;
}
.lenses{
    display: inline-flex;
    justify-content: space-between;
}
.lenses span{
    display: inline;
    flex-flow: wrap;
    align-items: flex-start;
}
.lenses span ul{
    list-style: none;
    margin: 5px;
    padding: 0;
    display: flex;
    flex-flow:wrap column;
}
.dot{
    margin: 0;
}
                    /* fin lentilles

                    debut description*/

                    /* fin description 
                    debut select */
#select{
    align-self: flex-end;
    margin-bottom: 10px;
}
                     /*fin select
                    debut bouton*/
#ajoutPanier{
    background: none;
    /* border: solid red 1px; */
    border: solid rgb(219, 219, 219) 1px;;
    box-shadow: 0px 2px 5px #555555;
    cursor: pointer;
}

#ajoutPanier .caddie{
    width: 20px;
    vertical-align: middle;
}
#ajoutPanier:hover{
    transition: 0.3s;
    box-shadow:0px 3px 5px 1px #555555;
    
}
#ajoutPanier:hover .caddie{
    fill: white;
}
@media screen and (max-width:1779px) {
   .produit{
       flex-flow: column;
   }
   .articleImg{
       width:unset;
   }
   .ficheProduit{
    width: 74%;
    margin: auto;   
    }
    #select{
        align-self: flex-start;
        margin-left: 13%;
    }
    #ajoutPanier{
        margin: auto auto 20px;
        width: fit-content;
    }
}
@media screen and (max-width:839px){
    .produit{
        width: 65%;
    }
}
@media screen and (max-width:375px){
    .lenses{
        flex-flow: column;
        align-items: center;
    }
}