.o{color:#63E8E4 #3498db #6FACE8 #0055ffc2;}


body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #bebebe;
    height: 100%;
}
main .titrePage{
    text-align: center;
}
main .titre{
    text-align: center;
   
}
.mainDeux{
    display: flex;
    max-width: 1920px;
    margin: auto;
}
aside{
    background: #FFF;
    width: 13%;
    min-width: 150px;
}
aside ul {
    margin: 0;padding: 0;
}
aside ul li{
    list-style: none;
    background: #FFF;
    padding:  7px  0 7px 23px;
    border-bottom: 1px solid #c5c5c5;
    border-top: 1px solid #c5c5c5;
}
aside ul li:nth-child(3){
    padding: 13px 0 13px  23px ;
}

aside ul li:nth-child(n+4){
    padding-left: 21%;
}
aside ul li:nth-child(n+4):hover,
aside ul li:nth-child(-n+2):hover{
    background: rgb(194, 194, 194);
    font-size: 19px;
    transition: 0.2s;
}
.rayon{
    display: flex;
    justify-content: space-between;
    
    flex-flow: row wrap;

    align-items: flex-start;
}

.produit {
    width: 20%;
    margin: 20px 14px;
    max-width: 350px;
    min-width: 250px;
    border-radius: 15px;
    background: #FFF;
    box-shadow:5px 2px 5px #a7a7a7;
}
.produit img{
    object-fit:cover;
    object-position: center;
    width: 100%;
    height:181px ;
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
}
.produit .infoProduit{
    padding: 5px;
    display: flex;
    flex-flow: column;
}
.infoProduit p,
.name {
    margin: 5px;
}
.ajoutPanier{
    background: none;
    color: #575757;
    font-style: italic;
    cursor: pointer;
    text-align: right;
}

.ajoutPanier .caddie{
    width: 20px;
    
    vertical-align: middle;
}
.ajoutPanier:hover{
    transition: 0.2s;

    color: #ff0000;
}
.ajoutPanier:hover .caddie{
    fill: white;
}
.menu{
    display: none;
}
@media screen and (max-width:1702px){
    .rayon{
        justify-content: center;
    }
}

@media screen and (max-width:722px) {
    .produit{
width: 80%;
    }
}

@media screen and (max-width:596px) {
    .mainDeux{
        z-index: 1;
    }
    aside{
        display: none;
        height:auto;
        position: absolute;
        z-index: 8;
    

    }
    aside ul{
        width: 170px;
    }
    .after{
        display: none;
        background: #000;
        opacity: 40%;
        position: absolute;
        width: 100%;
        height: 2158px;
        z-index: 5;
    }
    .menu{
        display: block;
        cursor: pointer;
        width: 50px;
        position: absolute;
    }
    
}

@media screen and (max-width:407px){
    .after{
        height: 2248px;
    }
    main .titre{
        margin-top: 60px;
    }
}